{{#each model as |question|}}
  <ul>
    <li>
      <ul>
          {{#link-to 'question' question.id}}<h3>{{question.subject}}</h3>{{/link-to}}
          Asked by: {{question.author}}
          on {{question.date}}
      </ul>
    </li>
  </ul>

{{/each}}
{{yield}}
